<!DOCTYPE html>
<html lang="en" ng-app="Jubi">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="<%- config.web.contentUrl %>/img/apple-touch-icon-precomposed.png" rel="apple-touch-icon">

    <title><%- title %></title>

    <link href="<%- config.web.contentUrl %>/css/manage/main.css" rel="stylesheet" />
    <script type="text/javascript" src="<%- config.web.contentUrl %>/js/lib/jquery.min.js"></script>

    <script>
        var _jubi_clientData = <%- JSON.stringify(clientInitData()) %>;
    </script>
</head>
<body class="animated" ng-controller="RootController as c" ng-init="c.initState('<%- config.autoSave.interval %>')"
      ng-class="{'mini-navbar' : toggle.asideNav, 'body-small' : toggle.isBodySmall }"
      togglevar="isBodySmall">

    <div class="loading" ng-if="loading.isLoading > 0 && getSelectedProgram() == null" ng-cloak>
        <span us-spinner="{radius:30, width:8, length: 16, color: '#b0b0b7'}"></span>
        <div>One moment please...</div>
    </div>

    <div class="wrapper" ng-cloak ng-show="loading.isLoading <= 0 || (loading.isLoading > 0 && getSelectedProgram())">
        <div class="aside-fill"></div>
        <nav role="navigation" id="aside-menu" class="navbar-static-side">
            <%- partial('manage/partials/sidebar') %>
        </nav>

        <div id="section-wrapper">
            <section id="header">
                <%- partial('manage/partials/header') %>
            </section>
            <div class="container-fluid" style="min-height:500px;">
                <%- renderBody() %>
            </div>
            <section id="footer">
                <%- partial('manage/partials/footer') %>
            </section>
        </div>
    </div>

    <%- partial('modals/confirmModal') %>
    <%- partial('modals/confirmModalError') %>
    <%- partial('modals/infoModal') %>
    <%- partial('modals/infoModalError') %>

    <%- scripts({
    name: 'manage',
    /*forceMinify: true,*/
    files: [
    '/js/lib/jquery.min.js',
    '/js/lib/jquery.browser.js',
    '/js/lib/bootstrap.js',
    '/js/lib/spin.min.js',
    '/js/lib/base64.js',
    '/js/lib/moment.js',
    '/js/lib/underscore-min.js',

    '/js/lib/angular/angular.js',
    '/js/lib/angular/angular-animate.js',
    '/js/lib/angular/angular-sanitize.js',
    '/js/lib/angular/angular-strap.min.js',
    '/js/lib/angular/angular-strap.tpl.min.js',
    '/js/lib/angular/ui-bootstrap.min.js',
    '/js/lib/angular/ui-utils.min.js',
    '/js/lib/angular/angular-spinner.js',
    '/js/lib/angular/angular-drag-and-drop-lists.js',
    '/js/lib/angular/angular-scroll.js',
    '/js/lib/angular/angular-file-upload-all.min.js',
    '/js/lib/angular/ng-video.js',
    '/js/lib/angular/ng-audio.js',

    '/js/lib/angular/textAngular-rangy.min.js',
    '/js/lib/angular/textAngular-sanitize.js',
    '/js/lib/angular/textAngular.js',
    '/js/lib/angular/textAngularSetup.js',


    '/js/common/services/helperService.js',
    '/js/common/directives/autoResizer.js',
    '/js/common/directives/numberMask.js',
    '/js/common/directives/dndNoDrop.js',
    '/js/common/directives/datePickerInitialDateFix.js',
    '/js/common/services/authService.js',
    '/js/common/services/controllerState.js',
    '/js/common/controllers/modals.js',

    '/js/manage/app.js',
    '/js/manage/controllers/authoringSuite.js',
    '/js/manage/controllers/authoringSuiteBadges.js',
    '/js/manage/controllers/authoringSuiteTodos.js',
    '/js/manage/controllers/authoringSuiteDiscussion.js',
    '/js/manage/controllers/dashboard.js',
    '/js/manage/controllers/sidebar.js']
    }) %>


</body>
</html>

