<div ng-controller="ClientEditController as ctl" ng-init="ctl.init(<%- model.clientId %>)" ng-cloak class="client-edit">

    <div ng-show="isLoading" class="loading">
        <span us-spinner="{radius:30, width:8, length: 16, color: '#c1c1c1'}"></span>

        <div>One moment please...</div>
    </div>

    <div ng-if="showLoadingOverlay"
         class="loading-overlay">
        <div class="loading" ng-cloak>
            <span us-spinner="{radius:30, width:8, length: 16, color: '#b0b0b7'}"></span>

            <div>One moment please...</div>
        </div>
    </div>

    <div ng-show="!isLoading">

        <div class="row">
            <div class="col-xs-12">
                <h3 class="color-header">{{client.id > 0 ? 'Edit' : 'New'}} Client</h3>
            </div>
        </div>
        <br>

        <form method="post" ng-submit="submit($event)">

            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div ng-class="{'has-error':val.name.req}">
                                            <label for="name" class="control-label">Name *</label>
                                            <input type="text" id="name" ng-model="client.name" class="form-control"
                                                   ng-change="nameKey($event)">

                                            <div class="text-sm text-danger text-val" ng-show="val.name.req">Name cannot
                                                be empty.
                                            </div>
                                        </div>

                                        <div ng-class="{'has-error':val.slug.req || val.slug.len}">
                                            <div class="slug">
                                                <span>Client URL *: http://</span>
                                                <input type="text" class="form-control input-sm" ng-model="client.slug"
                                                       tabindex="-1" ng-blur="slugChange($event)">
                                                <span>.jubiplatform.com</span>
                                            </div>
                                            <div class="text-sm text-danger text-val" ng-show="val.slug.req">Slug cannot
                                                be empty.
                                            </div>
                                            <div class="text-sm text-danger text-val" ng-show="val.slug.len">Slug must
                                                be at least 3 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="ui.isSystemAdmin" class="form-group">
                                        <label class="control-label">Client Role(s)</label>

                                        <div style="margin-left: 15px;">
                                            <label style="font-weight: 300;"><input type="checkbox"
                                                                                    ng-model="client.contentProvider">
                                                Content Provider</label><br>
                                            <label style="font-weight: 300;"><input type="checkbox"
                                                                                    ng-model="client.contentConsumer">
                                                Content Consumer</label>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="ui.isSystemAdmin">
                                        <input type="checkbox"
                                               ng-model="client.allowCreateClient">
                                        <label class="control-label">Allow Create Client</label>
                                    </div>

                                    <div class="form-group" ng-if="ui.isSystemAdmin">
                                        <label class="control-label">Trial Platform Seats</label>
                                        <input ng-if="ui.isSystemAdmin" number-mask allow-decimal="false" type="text"
                                               ng-model="client.trialClientSeats"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Platform Seats</label>
                                        <input ng-if="ui.isSystemAdmin" number-mask allow-decimal="false" type="text"
                                               ng-model="client.seats"/>
                                        <span ng-if="!ui.isSystemAdmin">{{client.seats}}</span>
                                    </div>

                                    <div class="form-group" ng-if="ui.isSystemAdmin">
                                        <label class="control-label">Trial Program Seats</label>
                                        <input ng-if="ui.isSystemAdmin" number-mask allow-decimal="false" type="text"
                                               ng-model="client.trialLicenseSeats"/>
                                    </div>

                                    <div class="form-group" ng-if="ui.isSystemAdmin">
                                        <label class="control-label">Max Program Seats</label>
                                        <input  number-mask allow-decimal="false" type="text"
                                               ng-model="client.maxLicenseSeats"/>
                                        <span ng-if="!ui.isSystemAdmin">{{client.maxLicenseSeats}}</span>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <label style="float:left">Customize Client</label>
                                            <a style="float:right" class="text-sm" href="javascript:void(0)" ng-click="resetBranding()">Reset</a>
                                        </div>
                                    </div>
                                    <div class="panel panel-default col-sm-12 col-md-6">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="control-label">Header Color</label>
                                                <input ng-style="{ 'background-color' : client.headerColor }"
                                                       ng-if="!isLoading"
                                                       colorpicker colorpicker-with-input="true" type="text"
                                                       ng-model="client.headerColor"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Header Font Color</label>
                                                <input ng-style="{ 'background-color' : client.headerFontColor }"
                                                       ng-if="!isLoading" colorpicker colorpicker-with-input="true"
                                                       type="text"
                                                       ng-model="client.headerFontColor"/>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label">Background Color</label>
                                                <input ng-style="{ 'background-color' : client.backgroundColor }"
                                                       ng-if="!isLoading" colorpicker colorpicker-with-input="true"
                                                       type="text"
                                                       ng-model="client.backgroundColor"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Background Font Color</label>
                                                <input ng-style="{ 'background-color' : client.backgroundFontColor }"
                                                       ng-if="!isLoading" colorpicker colorpicker-with-input="true"
                                                       type="text"
                                                       ng-model="client.backgroundFontColor"/>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group"
                                                         ng-class="{'has-error':val.logo.type || val.logo.size}">

                                                        <label class="control-label" style="float:left">Logo
                                                            Image:&nbsp;</label>

                                                        <div class="profile-avatar" style="float:left">
                                                            <div class="program-img">
                                                                <div ng-show="logoLoading">
                                                                    <div class="loading loading-sm">
                                                                        <img src="<%- config.web.contentUrl %>/img/empty.png"/>
                                                                        <span us-spinner="{radius:15, width:4, length: 9, color: '#b0b0b7'}"></span>
                                                                    </div>
                                                                </div>

                                                                <div ng-show="!logoLoading">
                                                                    <div class="manage manage-photo btn-sm">
                                                                        <a ng-if="client.logoImageUrl" href="#"
                                                                           class="btn btn-default red pull-right"
                                                                           ng-click="removeLogoImage($event)">
                                                                    <span class="fa fa-trash-o"
                                                                          title="Remove Image"></span>
                                                                        </a>

                                                                        <div class="btn btn-default blue pull-left"
                                                                             ng-file-select
                                                                             ng-file-change="uploadLogoImage($files)">
                                                                            upload
                                                                        </div>
                                                                    </div>
                                                                    <div ng-if="client.logoImageUrl">
                                                                        <img style="height:52px"
                                                                             ng-src="{{client.logoImageUrl}}" alt=""/>
                                                                    </div>
                                                                    <div ng-if="!client.logoImageUrl">
                                                                        <img style="height:52px"
                                                                             src="<%- config.web.contentUrl %>/img/empty.png"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-sm text-danger" ng-if="val.logo.type"
                                                             style="padding-top:5px;">
                                                            Unsupported image type.
                                                        </div>
                                                        <div class="text-sm text-danger" ng-if="val.logo.size"
                                                             style="padding-top:5px;">
                                                            Image is too large.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Align Logo</label>
                                                        <select type="text"
                                                                ng-model="client.logoAlignment">
                                                            <option value="left">Left</option>
                                                            <option value="center">Center</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--<div class="row">-->
                                            <!--<div class="col-xs-12">-->
                                            <!--<div class="form-group"-->
                                            <!--ng-class="{'has-error':val.login.type || val.login.size}">-->

                                            <!--<label class="control-label" style="float:left">Login Page-->
                                            <!--Image:&nbsp;</label>-->

                                            <!--<div class="profile-avatar" style="float:left">-->
                                            <!--<div class="program-img">-->
                                            <!--<div ng-show="loginImageLoading">-->
                                            <!--<div class="loading loading-sm">-->
                                            <!--<img src="<%- config.web.contentUrl %>/img/empty.png"/>-->
                                            <!--<span us-spinner="{radius:15, width:4, length: 9, color: '#b0b0b7'}"></span>-->
                                            <!--</div>-->
                                            <!--</div>-->

                                            <!--<div ng-show="!loginImageLoading">-->
                                            <!--<div class="manage manage-photo btn-sm">-->
                                            <!--<a ng-if="client.loginImageUrl" href="#"-->
                                            <!--class="btn btn-default red pull-right"-->
                                            <!--ng-click="removeLoginImage($event)">-->
                                            <!--<span class="fa fa-trash-o"-->
                                            <!--title="Remove Image"></span>-->
                                            <!--</a>-->

                                            <!--<div class="btn btn-default blue pull-left"-->
                                            <!--ng-file-select-->
                                            <!--ng-file-change="uploadLoginImage($files)">-->
                                            <!--upload-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--<div ng-if="client.loginImageUrl">-->
                                            <!--<img style="height:150px"-->
                                            <!--ng-src="{{client.loginImageUrl}}" alt=""/>-->
                                            <!--</div>-->
                                            <!--<div ng-if="!client.loginImageUrl">-->
                                            <!--<img style="height:150px"-->
                                            <!--src="<%- config.web.contentUrl %>/img/empty.png"/>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="text-sm text-danger" ng-if="val.logo.type"-->
                                            <!--style="padding-top:5px;">-->
                                            <!--Unsupported image type.-->
                                            <!--</div>-->
                                            <!--<div class="text-sm text-danger" ng-if="val.logo.size"-->
                                            <!--style="padding-top:5px;">-->
                                            <!--Image is too large.-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--</div>-->

                                            <!--<br/>-->

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group"  ng-class="{'has-error':val.buddyLabel.size}">
                                                        <label class="control-label">Buddy Label</label>
                                                        <input type="text" ng-model="client.buddyLabel"/>
                                                        <div class="text-sm text-danger" ng-if="val.buddyLabel.size"
                                                             style="padding-top:5px;">
                                                            Max length is 15 characters
                                                        </div>
                                                    </div>

                                                    <div class="form-group" ng-class="{'has-error':val.badgeLabel.size}">
                                                        <label class="control-label">Badge Label</label>
                                                        <input type="text" ng-model="client.badgeLabel"/>
                                                        <div class="text-sm text-danger" ng-if="val.badgeLabel.size"
                                                             style="padding-top:5px;">
                                                            Max length is 15 characters
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                    <%- partial('admin/clients/sidebar') %>
                </div>
            </div>

            <div ng-if="client.id>0">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="pull-left">
                            Client Users&nbsp;&nbsp;
                            <i class="fa fa-upload import-users" ng-file-select
                               ng-file-change="importUsers($files)" title="Import users from csv file."></i>
                        </h4>
                        <button ng-disabled="!(selectedProgramsForBulkAssign.length > 0 && selectedUserIds.length > 0)"
                                ng-click="unassignBulkSelection()" type="button"
                                class="btn btn-primary pull-right">Unassign
                        </button>
                        <button ng-disabled="!(selectedProgramsForBulkAssign.length > 0 && selectedUserIds.length > 0)"
                                ng-click="assignBulkSelection()" type="button"
                                class="btn btn-primary pull-right">Assign
                        </button>
                        <div class="pull-right"
                             translation-texts="{ buttonDefaultText: 'Bulk Assign/Unassign', dynamicButtonTextSuffix: 'selected' }"
                             ng-dropdown-multiselect="" checkboxes="true" options="programsAvailableAtClient"
                             selected-model="selectedProgramsForBulkAssign"></div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table datatable=""
                                   id="usersDataTable"
                                   dt-options="dtOptions"
                                   dt-instance="dtInstanceCallback"
                                   class="table table-striped table-bordered row-border hover"
                                   dt-columns="dtColumns"></table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>
                                    Client Programs&nbsp;&nbsp;
                                </h4>
                            </div>
                        </div>
                        <div ng-if="!programs">Loading...</div>
                        <div ng-if="programs && programs.length == 0">No programs available to license</div>
                        <div ng-repeat="program in programs">
                            <a data-toggle="collapse" data-parent="#program{{$index}}" href="#program{{$index}}"
                               class="list-group-item parent"><span class="fa fa-caret-right"></span>
                                {{program[program.length - 1].title}}
                                <span class="badge">{{program.length}}</span></a>

                            <div class="list-group collapse" id="program{{$index}}">
                                <div ng-repeat="version in program">
                                    <div style="margin-left:20px" class="list-group-item">{{version.title + ' V'
                                        + version.version}}
                                        <a style="margin-top:-4px" ng-click="manageProgramLicenses(version.id)"
                                           class="btn btn-primary btn-sm pull-right" href="javascript:void(0)">Manage
                                            Licenses<span style="margin-left:5px" ng-if="version.licenseProgramCount" class="badge">{{version.licenseProgramCount}}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="importStatus.html">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span
                    aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-if="result.status==='ok'">Import Status</h4>
        <h4 class="modal-title" ng-if="result.status==='error'">Import Error</h4>
    </div>
    <div class="modal-body">
        <div ng-if="result.status==='ok'">
            Imported: {{result.imported}}<br>
            Skipped: {{result.skipped}}
            <div ng-if="result.warnings && result.warnings.length > 0">
                <br>
                <label>Warnings</label>
                <pre>{{result.warnings.join('\n')}}</pre>
            </div>
        </div>

        <div ng-if="result.status==='error'">
            <pre>{{result.errors.join('\n')}}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" ng-click="ok()">OK</button>
    </div>
</script>
<%- partial('modals/confirmModal') %>


